@font-face {
  font-family: bold;
  src: url(./../fonts/BarlowSemiCondensed-Bold.ttf);
}
@font-face {
  font-family: semi;
  src: url(./../fonts/BarlowSemiCondensed-Medium.ttf);
}
@font-face {
  font-family: regular;
  src: url(./../fonts/BarlowSemiCondensed-Regular.ttf);
}
body {
  min-height: 100vh;
  overflow: hidden;
  overflow-y: visible;
}
body .overlay {
  position: absolute;
  width: 50%;
  height: 50vh;
  background-color: hsl(207, 33%, 95%);
  top: 0;
  right: 0;
  border-radius: 0 0 0 60px;
  z-index: -1;
}

.master .compass a {
  color: hsl(230, 29%, 20%);
  font-family: bold;
}
.master .compass a:hover {
  color: hsl(231, 7%, 65%);
  text-decoration: underline;
}
.master .compass a[class*=login] {
  color: hsl(231, 7%, 65%);
}
.master .compass a[class*=login]:hover {
  color: hsl(230, 29%, 20%);
  text-decoration: underline;
}

.wrapper {
  min-height: 80vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.wrapper .wrapper-row .left-side {
  padding-left: 120px;
}
.wrapper .wrapper-row .left-side .intro-text {
  color: hsl(207, 33%, 95%);
  letter-spacing: 3px;
  word-spacing: 5px;
  font-family: semi;
}
.wrapper .wrapper-row .left-side .title {
  font-family: bold;
  color: hsl(230, 29%, 20%);
  font-size: 4rem;
}
.wrapper .wrapper-row .left-side .planning {
  color: hsl(231, 7%, 65%);
  font-family: regular;
  width: 60%;
  font-size: 1.5rem;
}
.wrapper .wrapper-row .left-side .scheduler {
  align-items: center;
}
.wrapper .wrapper-row .left-side .scheduler button {
  font-family: semi;
  background-color: hsl(0, 100%, 68%);
}
.wrapper .wrapper-row .left-side .scheduler button:hover {
  background-color: hsl(0, 83%, 72%);
}
.wrapper .wrapper-row .right-side {
  min-height: 300px;
}

@media screen and (max-width: 600px) {
  .master .compass {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px -5px hsl(230, 11%, 40%);
    border-radius: 10px;
    width: 80%;
    display: none;
  }
  .master .compass.show-compass {
    display: block;
  }
  .master .compass a {
    display: block;
    margin: unset;
  }
  .wrapper .wrapper-row .left-side {
    padding-left: 12px;
  }
  .wrapper .wrapper-row .left-side .title {
    font-size: 3rem;
  }
  .wrapper .wrapper-row .left-side .planning {
    width: 100%;
  }
  .wrapper .wrapper-row .right-side {
    overflow: hidden;
  }
  .wrapper .wrapper-row .right-side svg {
    width: 100%;
    height: 100%;
    font-size: 30px;
  }
}